body {
	background-image: url('bg.jpg');
	color: #ddff3c;
	font-style: italic;	
	font-size: 14pt;
}
div.Content {
	text-align: center;
}
div.Content ul {
    margin: 0;
    padding: 4px; 
   }
div.Content ul li {
    display: inline; 
    margin-right: 5px;     
    padding: 3px; 
   }

div.title {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

div.title p {
	text-align: center;
}

div.index {
	
	text-align: left;
	align-items: center;
	margin-right: auto;
	margin-left: auto;
}

div img {
	width: 20%;
	float: left;
	padding-right: 20px;

}
div h3 {
	text-align: left;
	padding-left: 20px;
	font-size: 16pt;
}
div.body {
	padding-top: 18%;
}
div p {
	text-indent: 40px;
	text-align: justify;
}

table tr td {
	border: 1px solid white;
  	padding: 10px;
}

a {
	font-weight: bold;
	color: #1C73CC;
	text-decoration: none;
}
h3.autobiography {
	text-align: center;
}
